@layout({ title: 'Admin Dashboard' })

<div class="p-6">
  <h1 class="text-2xl font-bold mb-4">Admin Dashboard</h1>
  <p>Selamat datang, admin {{ auth.user.fullName }}!</p>
  <p>Di sini kamu bisa mengelola semua voucher.</p>
</div>
@end
